body{
	margin:20px;
}

*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#dropzone {
	background-color: #eee;
	outline: 1px solid #ccc;
	margin: 20px auto;
	text-align: center;
	padding: 100px 0;
	border: 10px solid transparent;
}

#dropzone.hover {
	border: 10px dashed #0c0;
}

progress {
	width: 100%;
}

#preview img {
	display: block;
	margin: 10px auto;
	max-width: 100%;
}

.hidden {
	display: none !important;
}