<!--<div class="span2">
   <ul class="unstyled sidebar">
    <li><h4><a href="/">Posts</a></h4></li>
    <li><h4><a href="/projects">Projects</a></h4></li>
    <li><img src="/assets/img/profile.png"></li>
    <li>
      <h4>Robin Willis</h4>
      <p class="small">is a critical and creative workaholic who left Los Angeles for New York City to study art and design at The Cooper Union school of Art, and then Cambridge to study architecture at MIT. I'm back in New York. The rest is a long story.</p>
    </li>
  </ul>
</div>
-->