<div class="grey-block-md">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="slideshow-controls"></div>
			<div class="slideshow">
				<div class="slideshow-content">
					<div class="slideshow-img">

						<div class="info center">
							<div class="centered">
								<div class="content">
							<img src="{{site.data.s3.img}}slideshow/robocons_logo.png">
							<h1 class="serif">Robocons</h1>
							<p>My Personal Icon Set for UI, over 70 and growing, free in font-face and svg, download from Github.</p>
							<a href="https://github.com/robincwillis/Robocons" class="btn btn-large" target="_blank">Learn More</a>
							</div>
						</div>
						</div>
						<img src="{{site.data.s3.img}}slideshow/1.jpg">
					</div>
					<div class="slideshow-img">
						<div class="info center">
							<div class="centered">
								<div class="content">
							<img src="{{site.data.s3.img}}slideshow/sunglass_logo.png">
							<h1 class="serif">Sunglass</h1>
							<p>The mobile companion application for Sunglass, allowing people to download, navigate, add annotations, photos and comments on 3d models. This application features a 3d gestural navigation from which one can pan, zoom, and orbit with the tap or drag of their finger.</p>
							<!-- <a class="btn btn-large">Learn More</a> -->
							</div>
						</div>
						</div>
						<img src="{{site.data.s3.img}}slideshow/6.jpg">
					</div>
					<div class="slideshow-img">
						<div class="info center">
							<div class="centered">
								<div class="content">
							<img src="{{site.data.s3.img}}slideshow/whitearrows_logo.png">
							<h1 class="serif">White Arrows</h1>
							<p>Design for White Arrows Logo, first album and various merchandise.</p>
							<!-- <a class="btn btn-large">Learn More</a> -->
						</div>
					</div>
				</div>
						<img src="{{site.data.s3.img}}slideshow/2.jpg">
					</div>
					<div class="slideshow-img">
						<div class="info center">
							<div class="centered">
								<div class="content">
							<img src="{{site.data.s3.img}}slideshow/germania_logo.png">
							<h1 class="serif">Germania</h1>
							<p>Typeface based on Hans Haacke Installation.</p>
							<!-- <a class="btn btn-large">Learn More</a> -->
						</div>
					</div>
				</div>
						<img src="{{site.data.s3.img}}slideshow/3.png">
					</div>
					<div class="slideshow-img">
						<div class="info center">
							<div class="centered">
								<div class="content">
							<img src="{{site.data.s3.img}}slideshow/featherweights_logo.png">
							<h1 class="serif">Featherweights</h1>
							<p>A design protocol that allows one to move from analysis to deployment of unique and dynamic architectural proposals for a range of uses and sites simultaneously while dramatically compressing both the time and cost required for design and construction.</p>
							<!-- <a class="btn btn-large">Learn More</a> -->
						</div>
					</div>
				</div>
						<img src="{{site.data.s3.img}}slideshow/4.jpg">
					</div>
					<div class="slideshow-img">
						<div class="info center">
							<div class="centered">
								<div class="content">
							<img src="{{site.data.s3.img}}slideshow/seiyu_logo.png">
							<h1 class="serif">Seiyu</h1>
							<p>A design prototype that to be applied to a number of shopping centers slated for renovation/rebranding owned by a major Japanese retail chain. The scope of the prototype extended across shelving and interior design, wayfinding, branding and graphics proposals, product placement and corresponding marketing campaigns. Logo/Pattern concept by Asao Tokolo.</p>
							<!-- <a class="btn btn-large">Learn More</a> -->
						</div>
					</div>
				</div>
						<img src="{{site.data.s3.img}}slideshow/5.jpg">
					</div>
				</div>

				<div class="slideshow-controls">
	                <a href="#" id="prev-slide" class="slideshow-arrow-left"></a>
	                <a href="#" id="next-slide" class="slideshow-arrow-right"></a>
	            </div>
			</div>
		</div>
	</div>
</div>