@font-face {
    font-family: 'BitstreamVeraSansMonoBold';
    src: url('veramobd-webfont.eot');
    src: url('veramobd-webfont.eot?#iefix') format('eot'),
         url('veramobd-webfont.woff') format('woff'),
         url('veramobd-webfont.ttf') format('truetype'),
         url('veramobd-webfont.svg#webfont1zKyPdbl') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitstreamVeraSansMonoBoldObli';
    src: url('veramobi-webfont.eot');
    src: url('veramobi-webfont.eot?#iefix') format('eot'),
         url('veramobi-webfont.woff') format('woff'),
         url('veramobi-webfont.ttf') format('truetype'),
         url('veramobi-webfont.svg#webfontQhKftVWD') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitstreamVeraSansMonoOblique';
    src: url('veramoit-webfont.eot');
    src: url('veramoit-webfont.eot?#iefix') format('eot'),
         url('veramoit-webfont.woff') format('woff'),
         url('veramoit-webfont.ttf') format('truetype'),
         url('veramoit-webfont.svg#webfontbNlTDUrW') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BitstreamVeraSansMonoRoman';
    src: url('veramono-webfont.eot');
    src: url('veramono-webfont.eot?#iefix') format('eot'),
         url('veramono-webfont.woff') format('woff'),
         url('veramono-webfont.ttf') format('truetype'),
         url('veramono-webfont.svg#webfontT3RGA83p') format('svg');
    font-weight: normal;
    font-style: normal;

}