     /* post */

h2 a:link {color:#000;}
h2 a:visited {color:#000;}
h2 a:hover {color:#333;text-decoration:none}
h2 a:active {color:#333;}

.post{
    margin-bottom:40px;
}

.post{
  margin-bottom: 80px;
}


.post img{
    display: block;
    margin-left: auto;
    margin-right: auto
}


.date{
  font-family: "crimson_textitalic", 'Times New Roman', Times, serif;
  font-size:24px;
}

.tags li{
      font-family: "montserratregular", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 24px;
      font-size: 16px;
}

.tags a:link {color:#E3E3E3;}
.tags a:visited {color:#E3E3E3;}
.tags a:hover {color:#555;text-decoration:none}
.tags a:active {color:#555;}


.post-nav{
    font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size:14px;
}
.post-nav>a{
    color:#000;
    text-transform:uppercase;
}

.post-nav>a:hover{

    text-decoration:none;
    opacity:0.8;
}