<div class="grey-block-md center">
<div class="container-fluid">
	<div class="row-fluid">
		<h2>Recent Work</h2>

		<ul class="unstyled project-summary thumbnails">
			<li class="thumbnail span4">
				<div class="thumbnail-container">
				<div class="info">
					<div class="centered">
						<div class="content">

					<h4 class="sans-reg">Super Pier</h4>
					<a class="btn btn-inverse" href="http://superpier.com/" target="_blank">View Project</a>
				</div>
										</div>
					</div>
				<div class="mask"></div>
				<img src="{{site.data.s3.img}}work/1.jpg">
				</div>

			</li>

			<li class="thumbnail span4">
				<div class="thumbnail-container">
				<div class="info">
					<div class="centered">
						<div class="content">
					<h4 class="sans-reg">Sailing Collective</h4>
					<a class="btn btn-inverse" href="http://sailingcollective.com/" target="_blank">View Project</a>
				</div>
			</div>
				</div>
				<div class="mask"></div>
				<img src="{{site.data.s3.img}}work/2.jpg">
				</div>
			</li>

			<li class="thumbnail span4">
				<div class="thumbnail-container">
				<div class="info">
										<div class="centered">
						<div class="content">
					<h4 class="sans-reg">301 East 50</h4>
					<a class="btn btn-inverse" href="http://301e50.com/" target="_blank">View Project</a>
				</div>
			</div>
				</div>
				<div class="mask"></div>
				<img src="{{site.data.s3.img}}work/3.jpg">
				</div>
			</li>

			<li class="thumbnail span4">
				<div class="thumbnail-container">
				<div class="info">
										<div class="centered">
						<div class="content">
					<h4 class="sans-reg">Beach House 8</h4>
					<a class="btn btn-inverse" href="http://beachhouse8.com/" target="_blank">View Project</a>
				</div>
			</div>
		</div>
				<div class="mask"></div>
				<img src="{{site.data.s3.img}}work/4.jpg">
				</div>
			</li>

			<li class="thumbnail span4">
				<div class="thumbnail-container">
				<div class="info">
										<div class="centered">
						<div class="content">
					<h4 class="sans-reg">Aztech Mountain</h4>
					<a class="btn btn-inverse" href="http://aztechmountain.com/" target="_blank">View Project</a>
				</div>
			</div>
		</div>
				<div class="mask"></div>
				<img src="{{site.data.s3.img}}work/5.jpg">
				</div>
			</li>

			<li class="thumbnail span4">
				<div class="thumbnail-container">
				<div class="info">
										<div class="centered">
						<div class="content">
					<h4 class="sans-reg">Hijack Player</h4>
					<a class="btn btn-inverse" href="http://robincwillis.github.io/HijackPlayer/" target="_blank">View Project</a>
				</div>
			</div>
		</div>
				<div class="mask"></div>
				<img src="{{site.data.s3.img}}work/6.jpg">
				</div>
			</li>

		</ul>

		<a href="http://robincwillis.com/projects" class="btn btn-large">View More Projects</a>
	</div>

</div>
</div>