<div class="white-block-md">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4 center summary-item">
				<div id="anim-1" class="circle">

				</div>
				<h3 class="serif">Front End Development</h3>
				<p>Web development is a constantly shifting territory. I am dedicated to writing beautiful code that performs with clarity and simplicity, while keeping abreast of the direction of development by following trends and emerging technologies.</p>
			</div>
			<div class="span4 center summary-item">
				<div id="anim-2" class="circle">

				</div>
				<h3 class="serif">UI & UX Design</h3>
				<p>With a design background, user experience drives my design and decision making process around development. I see the end goal of projects as crafting experiences and stories for people through beautiful, intuitive and functional design.</p>
			</div>
			<div class="span4 center summary-item">
				<div id="anim-3" class="circle">


				</div>

				<h3 class="serif">Experiments & Visualization</h3>
				<p>I am constantly seeking to develop myself by learning though doing. Nothing excites me more than the opportunity to experiment with new combinations of ideas and technology in order to open up new possibilities.</p>
			</div>
		</div>
	</div>
</div>