<td colspan="5">
<form id="edit-service-form">
	<div class="controls controls-row">

	<div class="span4">
    <input class="input-block-level" id="description" value="{{description}}" type="text" />
	</div>



	<div class="span2">

	<input class="input-block-level" id="time" value="{{time}}" type="text" />
	</div>


	<div class="span2">

	<input class="input-block-level" id="rate" value="{{rate}}" type="text" />
	</div>


	<div class="span4">
	<button class="btn" id="save-service">Save</button>
	<button class="btn btn-danger" id="cancel-edit-service">Cancel</button>
	</div>

	</div>
</form>
</td>