#anim-1,
#anim-2,
#anim-3,{
  -webkit-transform:scale(0);
  @include transition(-webkit-transform, 0.2s, ease-in-out);
}
#anim-1.start,
#anim-2.start,
#anim-3.start,{
  -webkit-transform:scale(1);
}

a, a:before{
  -webkit-transition-duration:.3s;
  -moz-transition-duration:.3s;
  -ms-transition-duration:.3s;
  -o-transition-duration:.3s;
  transition-duration:.3s;

  -webkit-transition-property:all;
  -moz-transition-property:all;
  -ms-transition-property:all;
  -o-transition-property:all;
  transition-property:all;
}

.splash-content {
  -webkit-transition: all 0.5s;
  -moz-transition: all 1.0s;
  -o-transition: all 1.0s;
  -ms-transition: all 1.0s;
  transition: all 1.0s;
}

.trans{
    // opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


@keyframes fadein {
    from {opacity:1;}
    to {opacity:0.25;}
}
@-moz-keyframes fadein {
    from {opacity:1;}
    to {opacity: 0.25;}
}
@-webkit-keyframes fadein {
    from {opacity:1;}
    to {opacity: 0.25;}
}
@-o-keyframes fadein {
    from {opacity:1;}
    to {opacity: 0.35;}
}

@keyframes fadeinsplash {
    0% {opacity:0;}
    25% {opacity:0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeinsplash { /* Firefox */
    0% {opacity:0;}
    25% {opacity:0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeinsplash { /* Safari and Chrome */
    0% {opacity:0;}
    25% {opacity:0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeinsplash { /* Opera */
    0% {opacity:0;}
    25% {opacity:0;}
    100% {opacity: 1;}
}

.changeA{

    transition-delay: 0s;
    -moz-transition-delay: 0s; /* Firefox 4 */
    -webkit-transition-delay:0s; /* Safari and Chrome */
    -o-transition-delay: 0s; /* Opera */
    -ms-transition-delay: 0s;

    transform:translate3d(0,50px,0);
    -webkit-transform:translate3d(0,50px,0);
    -moz-transform:translate3d(0,50px,0);
    -o-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
}

.changeB{

    transition-delay: .5s;
    -moz-transition-delay: .5s; /* Firefox 4 */
    -webkit-transition-delay: .5s; /* Safari and Chrome */
    -o-transition-delay: .5s; /* Opera */
    -ms-transition-delay: .5s;

    transform:translate3d(0,50px,0);
    -webkit-transform:translate3d(0,50px,0);
    -moz-transform:translate3d(0,50px,0);
    -o-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
}

.changeC{

    transition-delay: 1s;
    -moz-transition-delay: 1s; /* Firefox 4 */
    -webkit-transition-delay: 1s; /* Safari and Chrome */
    -o-transition-delay: 1s; /* Opera */
    -ms-transition-delay: 1s;

    transform:translate3d(0,50px,0);
    -webkit-transform:translate3d(0,50px,0);
    -moz-transform:translate3d(0,50px,0);
    -o-transform: translate(0,50px);
    -ms-transform: translate(0,50px);
}

.fadeinA{

    animation-name: fadeinsplash 2s;
    -moz-animation: fadeinsplash 2s; /* Firefox */
    -webkit-animation: fadeinsplash 2s; /* Safari and Chrome */
    -o-animation: fadeinsplash 2s; /* Opera */
    -ms-animation: fadeinsplash 2s;

    animation-iteration-count: 1;
    -moz-animation-iteration-count:1; /* Firefox */
    -webkit-animation-iteration-count:1; /*Safari and Chrome*/
    -o-animation-iteration-count:1; /* Opera */
    -ms-animation-iteration-count:1;

   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;

    animation-delay:0s;
    -moz-animation-delay:0s; /* Firefox */
    -webkit-animation-delay:0s; /* Safari and Chrome */
    -o-animation-delay:0s; /* Opera */
    -ms-animation-delay:0s;
}

.fadeinB{
    animation-name: fadeinsplash 2s;
    -moz-animation: fadeinsplash 2s; /* Firefox */
    -webkit-animation: fadeinsplash 2s; /* Safari and Chrome */
    -o-animation: fadeinsplash 2s; /* Opera */
    -ms-animation: fadeinsplash 2s;

    animation-iteration-count: 1;
    -moz-animation-iteration-count:1; /* Firefox */
    -webkit-animation-iteration-count:1; /*Safari and Chrome*/
    -o-animation-iteration-count:1; /* Opera */
    -ms-animation-iteration-count:1;

   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;

    animation-delay:.5s;
    -moz-animation-delay:.5s; /* Firefox */
    -webkit-animation-delay:.5s; /* Safari and Chrome */
    -o-animation-delay:.5s; /* Opera */
    }

.fadeinC{
    animation-name: fadeinsplash 2s;
    -moz-animation: fadeinsplash 2s; /* Firefox */
    -webkit-animation: fadeinsplash 2s; /* Safari and Chrome */
    -o-animation: fadeinsplash 2s; /* Opera */
    -ms-animation: fadeinsplash 2s;

    animation-iteration-count: 1;
    -moz-animation-iteration-count:1; /* Firefox */
    -webkit-animation-iteration-count:1; /*Safari and Chrome*/
    -o-animation-iteration-count:1; /* Opera */
    -ms-animation-iteration-count:1;

   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;

  animation-delay:1s;
  -moz-animation-delay:1s; /* Firefox */
  -webkit-animation-delay:1s; /* Safari and Chrome */
  -o-animation-delay:1s; /* Opera */
  -ms-animation-delay:1s;
}

.fade-desc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
    -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

.action-item:hover .fade-desc { visibility: visible; opacity: 1; }