   /* responsive */

@media (max-width: 979px){
      .navbar-fixed-top{
        position:fixed;
      }
      .navbar hr{
        margin:0 15px;
      }

      .row-fluid .project-summary.thumbnails{
        margin:0;
      }
}

 @media (max-width: 767px){

  .container-blog{
    padding-right:0;
    padding-left:0;
  }

  body{
    padding:0;
  }

  .slideshow{
    margin:0;
  }

  .slideshow-controls{
    display: none;
  }

  .row-fluid .thumbnails{
    margin:0;
  }

  .slideshow .slideshow-content .slideshow-img .info img{
    margin-top:0;
  }

  .slideshow .slideshow-content .slideshow-img .info h1{
    font-size:24px;
    line-height: 24px;
  }

  .slideshow .slideshow-content .slideshow-img .info a.btn{
    display: none;
  }

  .project-summary .thumbnail{
    max-width: 400px;
    margin: 0 auto;
  }

  .project-summary.thumbnails .span4:nth-child(3n+1),
  .project-summary .row-fluid [class*="span"]:first-child{
    margin-left:auto;
  }

 }

@media (max-width: 640px){

  .splash h1{
    font-size: 46px;
  }

  .splash h2{
    padding: 0 20px;
  }

}