<div class="row-fluid">
<h2>Contacts</h2>
<div id="new-contact-container">
<a class="btn" href="#new-contact-modal" id="new-contact" data-toggle="modal">New Contact</a>
</div>
<br>
<table class="table">
<thead>
	<td>Company</td>
	<td>First Name</td>
	<td>Last Name</td>
	<td>Address</td>
	<td></td>
	<td></td>
	<td></td>
	<td>Phone</td>
	<td>Email</td>
	<td></td>
	<td></td>
</thead>
<tbody>

</tbody>
</table>

</div>
