<div class="row-fluid">


<div id="show-invoice-container">

</div>

<div id="list-invoice-container">
<h2>Invoices</h2>
<a class="btn" href="#new-invoice-modal" id="new-invoice" data-toggle="modal">New Invoice</a>
<div id="new-invoice-container">

</div>


	<table class="table">
	<thead>
		<td>id</td>
		<td>title</td>
		<td>date</td>
		<td>due</td>
		<td>from</td>
		<td>to</td>
		<td>status</td>
		<td>actions</td>
		<td></td>
	</thead>
	<tbody>
	</tbody>
	</table>
</div>

</div>