<div class="row-fluid">
<h2>Services</h2>

<table class="table">
	<thead>
		<td>Description</td>
		<td>Hours</td>
		<td>Rate</td>
		<td>Total</td>
		<td></td>
	</thead>

	<tbody>

	</tbody>

</table>


</div>