
<form id="add-service-form">
	<div class="controls controls-row">
	<div class="span4">
    <input class="input-block-level" id="description" placeholder="description" type="text" />
	</div>
	<div class="span2">
	<input class="input-block-level" id="time" placeholder="hours" type="text" />
	</div>

	<div class="span2">

	<input class="input-block-level" id="rate" placeholder="rate" type="text" />
	</div>

	<div class="span4">
	<button class="btn" id="add-service">Add</button>
	<button class="btn btn-danger" id="">Cancel</button>
	</div>
	</div>
</form>